body{
	background: url("Images/Home_Page_Background.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	margin: 0px;
	height: auto;
}
.back_btn{
	margin-top:10%;
	background-color: rgba(67, 0, 90, 0.53);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
	padding:3%;
	margin: 4%;
	display: inline-block;
}
.back_btn_container{
	text-align:center;
	margin:auto;
	width: 300px;
}
.back_btn:hover{
	cursor: default;
	background-color: rgba(0, 37, 90, 0.45);
	border: 1px solid rgba(255, 255, 255, 0.79);
}
.bread_crumb{
	display:inline-block;
	margin:20px;
	margin-top:25px;
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.input_label{
	color:white;
	font-size: 22px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	display: inline-block;
	width: 200px;
}
.input_pair{
	display: inline-block;
}
.input_row{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color:white;
	margin:20px;
	display:block;
}
input[type = "text"]{
	height:20px;
	width: 230px;
	font-size: 20px;
}
.item_container{
	background-color: rgba(27, 30, 204, 0.60);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
	display:inline-block;
	width:200px;
	padding:3%;
	margin: 3%;
	position: relative;
}
.item_container:hover{
	border: 1px solid rgba(255, 255, 255, 0.60);
	cursor: default;
	background-color: rgba(5, 6, 54, 0.60);
}
.item_container_selected{
	background-color: rgba(5, 6, 54, 0.90);
}
.item_container_selected:hover{
	background-color: rgba(5, 6, 54, 0.90);
}
.main_container{
	margin-top: 5%;
	text-align: center;
}
.other_text{
	font-family: 'Times New Roman', sans-serif;
	font-size: 20px;
	display:inline-block;
	width: auto;
	max-width: 900px;
	max-height: 200px;
	min-width: 300px;
	min-height: 50px;
	height: 10%;
}
.repair_opts{
	border: .5px solid rgba(255, 255, 255, 0.79);
	display:block;
	padding: 2% 3% 2% 3%;
	margin-left:3%;
}
.sub_container{
	text-align:center;
	margin:auto;
	width: 20%;
}
.top_progress_bar{
	background-color: black;
	height: 75px;
	margin: 3% 0px 0px 0px;
	opacity: .7;
	width: auto;
}
.triangle{
	color: black;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
    height: 0;
    border: solid 25px;
    border-color: transparent white white transparent;
    text-align: right;
}
.triangle:hover{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
    height: 0;
    border: solid 25px;
    border-color: transparent #1162ff #1162ff transparent;
}