body{
	background: url("Images/Home_Page_Background.jpg") no-repeat center center fixed;
	margin: 0px;
}
.back_btn{
	margin-top:10%;
	background-color: rgba(0,0,0,.8);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 3px solid rgba(143,138,142,.9);
	padding:3%;
	margin-top:3%;
}
.back_btn_container{
	text-align:center;
	margin:auto;
	width: 200px;
}
.back_btn:hover{

}
.bread_crumb{
	display:inline-block;
	margin:20px;
	margin-top:25px;
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:center;
}
.item_container{
	background-color: rgba(67, 0, 90, 0.53);
	color: white;
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.72);
	width:200px;
	padding:3%;
	margin: 3%;
}
.item_container:hover{
	border: 1px solid rgba(255, 255, 255, 0.79);
	cursor: default;
	background-color: rgba(0, 37, 90, 0.45);
}
.main_container{
	margin: 10% auto auto auto;
	text-align: center;
}
.sub_container{
	text-align:center;
	margin:auto;
	width: 20%;
}
.top_progress_bar{
	background-color: black;
	height: 75px;
	margin: 3% 0px auto 0px;
	opacity: .7;
	width: auto;
}
